__pycache__/
*.pyc
models
data/processed
data/raw_repos
outputs
unsloth_compiled_cache/
_unsloth_temporary_saved_buffers/
training.log
.env
.venv
.ruff_cache
.mypy_cache
.alire-dev/
.alire-ast/
alire/
config/
